<section id="tasks">
  <header>
    <h2>{{ name }}' Tasks</h2>
    <menu>
      <button (click)="showCreateTaskForm()">Add Task</button>
    </menu>
  </header>
  <ul>
    @for (task of selectedUserTasks; track task.id) {
    <li>
      <app-task [task]="task" (complete)="onCompleteTask($event)" />
    </li>
    }
  </ul>
  @if (showForm) {
  <form id="createTaskForm">
    <label> title: <input type="text" id="newTaskTittle" /> </label>
    <label> summary: <input type="text" id="newTaskSummary" /></label>
    <label> dueDate: <input type="text" id="newTaskDueDate" /></label>
    <button type="button" (click)="addTask()">Add</button>
  </form>
  }
</section>
